@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --font0: Arial, Helvetica, sans-serif;
    --font1: 'Bebas Neue', cursive;
    --font2: 'idroid', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor1);
    margin: 0px;
    font-family: var(--font0);
}
header {
    min-height: 150px;
    background-image: linear-gradient(to bottom, #4ddf8c,#38c276, #279257, #226d44);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.33)
}
nav {
    padding: 10px;
}
nav > a {
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    font-weight: bold;
}
nav > a:hover {
    background-color: var(--cor3);
    transition-duration: 1s;
}
main {
    border-radius: 0px 0px 10px 10px;
    padding: 0px 0px 10px 0px;
    box-shadow: 3px 3px 8px 0px rgb(0 0 0 / 33%);
    min-width: 280px;
    max-width: 800px;
    background-color: white;
    margin: 0px auto 5px auto;
}
main > p {
    text-align: justify;
    padding: 10px 20px 10px 20px;
    text-indent: 1.5em;
}
#maintitle {
    text-align: center;
    color: white;
    padding: 25px 10px 10px 10px;
    font-family: var(--font1);
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.33);
}
#subtitle {
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-weight: normal;
    padding: 0px 10px 10px 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.33);
}
main a {
    text-decoration: none;
    background-color: var(--cor2);
    color: white;
    padding: 2px;
}
main a:hover {
text-decoration: underline;
}
h1 {
    margin: 0px;
}
article {
    padding: 0px;
}
article > h1 {
    font: bold normal 2em var(--font2);
    padding: 20px 15px 15px 15px;
    color: #226d44;
}
article > p {
    text-align: justify;
    line-height: 1.5em;
    padding: 10px 20px 10px 20px;
    text-indent: 1.5em;
}
div {
    text-align: center;
}
.titledroid {
    font: bold normal 1.5em var(--font2);
    padding: 3px 20px 3px 20px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: #226d44;
    margin: 0px 15px 0px 15px;
}
img {
    text-align: center;
    width: 100%;
    display: block;
    margin: auto;
}
div#videobo {
    position: relative;
    background-color: var(--cor5);
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}
div#videobo > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
#droidlist {
    list-style: none;
    background-color: #a9ffce;
    margin: 15px;
    border-radius: 10px;
    padding: 0px 0px 5px 0px
}
#droidlist > h3 {
    background-color: #17d36c;
    color: white;
    padding: 10px 5px 10px 5px;
    font-size: 1em;
    border-radius: 10px 10px 0px 0px;
}
ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    margin: 0px 0px 0px 10px;
    line-height: 1.5em;
}
#droidlist > p {
    padding: 10px 10px 10px 10px;
    text-indent: 2em;
}
footer {
    background-color: #226d44;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px 0px 0px 0px;
}
footer > p {
    margin: 0px;
}
img.lildroid {
max-width:350px
}
strong {
color: var(--cor3);
}
a.externo::after {
content: '\1F517';
}